// color-button
$btn-color-add: #059669;
$btn-color-update: #10B981;
$btn-color-delete: #EF4444;
$btn-color-cancel: #4C5564;

// color-background
$color-bg-white: #fff;
$color-bg-list: #f0f0f0b6;


// color-font
$text-color-category: #008000;
$text-color-danger: #f76f6f;
$text-color-item-title: #018508;
$text-color-item-content: #707070;
$text-color-no-item: #ecb80e;
$text-color-title-app: #e0b700;

// color-border
$border-color-form: #7a6247;
$border-color-form-error: #fc6868;

// color-shadow
$color-shadow-standard: #ccc;
