.itemmodal{
    text-align: center;
    &__title{
        font-size: 20px;
        text-align: center;
        margin: 10px;
    }
    &__form{
        margin: 30px 0;
        text-align: left;
        .form__item{
            margin-bottom: 10px;
            label{
                margin-bottom: 0;
                font-size: 12px;
                font-weight: 600;
            }
            input, select, .b-form-datepicker{
                width: 100%;
                padding: 3px;
                font-size: 12px;
                border: none;
                border-bottom: 1px solid $border-color-form;
                border-radius: 0;
                &:focus{
                    outline: none;
                    box-shadow: none;
                }
            }
            input.error, select.error {
                border-color: $border-color-form-error;
            }
            &--error{
                color: $text-color-danger;
            }
        }
    }
    button{
        margin: auto;
    }
}