.category-item{
    color: green;
    padding: 5px 10px;
    position: relative;
    cursor: pointer;
    &:after{
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0;
        height: 2px;
        background-color: green;
    }
    &:hover{
        &:after{
            width: 100%;
            transition: width .3s;
        }
    }
}
.active{
    &:after{
        width: 100%;
    }
}