.inventory-item{
    text-align: left;
    padding: 10px;
    margin: 15px 0; 
    box-shadow: 0 4px 8px 0 $color-shadow-standard;
    background-color: $color-bg-white;
    border-radius: 5px;
    position: relative;
    &__action{
        position: absolute;
        top: 10px;
        right: 10px;
        text-align: center;
        cursor: pointer;
        svg{
            margin: 0 5px;
            font-size: 12px;
        }
    }
    &__content{
        padding:0 20px;
        h1{
            font-weight: bold;
            font-size: 20px;
            color: $text-color-item-title;
            padding-bottom: 15px;
        }
        p{
            color: $text-color-item-content;
            font-weight: 600;
            font-size: 12px;
        }
    }
}